<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>FinalProject</display-name>
	<servlet>
		<description>
		</description>
		<display-name>MembershipUpdate</display-name>
		<servlet-name>MembershipUpdate</servlet-name>
		<servlet-class>finalproject.MembershipUpdate</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>LoginServlet</display-name>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>finalproject.LoginServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>AutoSearchServlet</display-name>
		<servlet-name>AutoSearchServlet</servlet-name>
		<servlet-class>finalproject.AutoSearchServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ProfileServlet</display-name>
		<servlet-name>ProfileServlet</servlet-name>
		<servlet-class>finalproject.ProfileServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ForFollow</display-name>
		<servlet-name>ForFollow</servlet-name>
		<servlet-class>follow.ForFollow</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ForUnFollow</display-name>
		<servlet-name>ForUnFollow</servlet-name>
		<servlet-class>follow.ForUnFollow</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>FollowCheck</display-name>
		<servlet-name>FollowCheck</servlet-name>
		<servlet-class>follow.FollowCheck</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>TweetServ</display-name>
		<servlet-name>TweetServ</servlet-name>
		<servlet-class>tweet.TweetServ</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>EditTweetServlet</display-name>
		<servlet-name>EditTweetServlet</servlet-name>
		<servlet-class>tweet.EditTweetServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>DeleteTweetServlet</display-name>
		<servlet-name>DeleteTweetServlet</servlet-name>
		<servlet-class>tweet.DeleteTweetServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>MyProfileServlet</display-name>
		<servlet-name>MyProfileServlet</servlet-name>
		<servlet-class>finalproject.MyProfileServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>LoginFetchTweetServlet</display-name>
		<servlet-name>LoginFetchTweetServlet</servlet-name>
		<servlet-class>finalproject.LoginFetchTweetServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>SignOutServlet</display-name>
		<servlet-name>SignOutServlet</servlet-name>
		<servlet-class>finalproject.SignOutServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>DeleteAccount</display-name>
		<servlet-name>DeleteAccount</servlet-name>
		<servlet-class>account.DeleteAccount</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>EditProfileServlet</display-name>
		<servlet-name>EditProfileServlet</servlet-name>
		<servlet-class>account.EditProfileServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MembershipUpdate</servlet-name>
		<url-pattern>/MembershipUpdate</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/LoginServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AutoSearchServlet</servlet-name>
		<url-pattern>/AutoSearchServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ProfileServlet</servlet-name>
		<url-pattern>/ProfileServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ForFollow</servlet-name>
		<url-pattern>/ForFollow</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ForUnFollow</servlet-name>
		<url-pattern>/ForUnFollow</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FollowCheck</servlet-name>
		<url-pattern>/FollowCheck</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>TweetServ</servlet-name>
		<url-pattern>/TweetServ</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EditTweetServlet</servlet-name>
		<url-pattern>/EditTweetServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DeleteTweetServlet</servlet-name>
		<url-pattern>/DeleteTweetServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>MyProfileServlet</servlet-name>
		<url-pattern>/MyProfileServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LoginFetchTweetServlet</servlet-name>
		<url-pattern>/LoginFetchTweetServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SignOutServlet</servlet-name>
		<url-pattern>/SignOutServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DeleteAccount</servlet-name>
		<url-pattern>/DeleteAccount</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EditProfileServlet</servlet-name>
		<url-pattern>/EditProfileServlet</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>Login.html</welcome-file>
	</welcome-file-list>
</web-app>
